
  
  h1 {
      text-align:left;
      font-family: Verdana, Tahoma, sans-serif, arial, sans-serif;
      font-size: 2.5rem;
      padding: 16px;
      margin: 0;
    }
    .lineUp {
      animation: 2s anim-fromtop ease-out infinite;
    }

    @keyframes anim-fromtop {
      0% { opacity: 0; transform: translateY(-100%);}
      25% { opacity: 1; transform: translateY(0%);}
      50% {
      }
      100% {
      }
    }

    body {
      perspective: 500px;
    }
  
  .h1{
    text-align: left;
  }
  
  .container {
    background-color: aliceblue;
    box-shadow:12px 12px 12px 11px lightblue;
    display: flex;
    flex-direction: column;
    align-items: right;
    justify-content:center;
    height: 89vh; 
    width: 60%;
    position:relative;
  }

  

  
  
  
  
  
  #main {
    transition: margin-right .5s;
    padding: 16px;
    position: relative; /* Add this to make the menu icon float to the right */
  }
  
 
  .text-scale {
    animation: scale 2s infinite;
  }
  
  @keyframes scale {
    50% {
      transform: scale(1.2);
    }
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }